<% before_flash do %>
	<% if logged_in? %>
		<p class="title-actions">&nbsp;
			<% if current_user.can_relate_with?(profile) and not current_profile.relates_with?(profile)  %>
				<%= icon "group_add" %> 
				<% add_msg = (current_user.salesperson?) ? "Torna-lo meu cliente" : "Adicionar a minha rede" %>
				<%= link_to add_msg, 
				    new_consumer_salesperson_relationship_path(:id => profile) %>
			<% elsif current_user.can_relate_with?(profile) %>
				<%= icon "delete" %>
				<%= link_to "Excluir da minha rede", consumer_salesperson_relationship_path(current_profile.relationship_with(profile)), 
			     	:confirm => "#{profile.name} sera removido(a) de sua rede?", :method => :delete %>	 
			<% end %>
		</p>
	<% end %>
<% end %>