<% title "Meus clientes" %>
<%= render :partial => "salespeople/relationships", :locals => {relationships: @relationships, tags_manager: true} %>
<p><%= icon "group_add" %> <%= link_to "Escolha um cliente", consumers_path %> para torna-lo <u>seu</u> cliente.</p>
