<% title @consumer.name %>
<% sidebar do %>
	<%= render "sidebar", profile: @consumer %>
<% end %>

<%= render "actions", profile: @consumer %>

<h3>Rede de negócios</h3>
<% if @consumer.network.any? %>
	<%= render :partial => "users/list", :locals => {users: @consumer.network, id: "salespeople"} %>
<% else %>
	<p><%= @consumer.name %> não possui ninguém em sua rede pública.</p>
<% end %>
