<% title "Sobre o Qualoo" %>

<% no_sidebar %>

<h3>O que &eacute; o Qualoo?</h3>
<p>O Qualoo é um ambiente gratuito que permite que clientes encontrem representantes das principais marcas nacionais e internacionais de maneira rápida e confiável. Por sua vez, o Qualoo permite que profissionais se conectem com seus clientes de maneira profissional e organizada, aumentando suas chances de sucesso.</p>
<h3>Como Funciona?</h3>
<p><i>Profissionais:</i> Se você é representante de uma marca, escolha na página principal o ambiente “profissionais”. No cadastro, junto a demais informações, indique qual marca você representa. Concluindo o cadastro seu perfil já estará ativo, e será sua vez de criar uma vitrine com sua cara e sua personalidade. Você poderá se conectar com outros profissionais para criar alianças de vendas, assim como poderá criar um grupo de clientes, aumentando suas chances de sucesso.</p>
<p><i>Clientes:</i> Pesquise marcas, encontre novidades e converse com um revendedor para ter mais informações sobre o produto, dicas de uso, etc. Crie um perfil para que você possa ter uma lista de favoritos, receber informativos de seus revendedores sobre promoções, entre outros benefícios. Para se cadastrar de forma rápida, clique <a href="#signup">aqui</a>.</p>
<h3>Quem pode usar o Qualoo?</h3>
<p>O Qualoo é uma ferramenta gratuita que tem por objetivo ser a maior plataforma de encontro entre clientes e representante, revendedores, consultores e distribuidores. Se você é um profissional, se cadastre gratuitamente <a href="#signup">aqui</a>. Se você está procurando por produtos ou um profissional, sinta-se em casa – passeie a vontade pelos catálogos e encontre um profissional sempre que você precisar de ajuda. Para navegar pelas marcas, clique <a href="#search">aqui</a>. Para mais informações, leia os “termos e condições” do website</p>
<h3>Posso comprar no Qualoo?</h3>
<p>O Qualoo permite que clientes encontrem os profissionais e comprem deles os produtos de que precisam. Todos os profissionais registrados no Qualoo são representes independentes e, portanto, se responsabilizam pelas vendas realizadas aos usuários. Para fazer uma boa compra, sugerimos checar se o profissional possui recomendações positivas, assim como acertar cuidadosamente os detalhes da compra. O Qualoo está sempre em busca de mecanismos que tornem a compra mais fácil e confiável, entretanto não participa do trabalho de cada profissional, ou seja, não se responsabiliza pelas transações e entregas. Para mais informações sobre a política de compra e venda, leia atentamente os “termos e condições” do website.</p>
<h3>Sou representante de uma marca que não está na lista do Qualoo. Como eu faço?</h3>
<p>Se sua marca ainda não está em nossa lista, não se preocupe. <strong>No momento do seu cadastro, selecione para sua marca o campo “outros”, e insira o nome da sua marca que você representa.</strong> Conclua o cadastro normalmente com seus dados. Entraremos em contato pelo email fornecido para checar os detalhes da sua marca, e na sequência colocaremos você no ar como o representante numero 1 da sua empresa!</p>
<h3>Ainda não sou profissional, mas quero ser.</h3>
<p>No Qualoo você pode encontrar um profissional capaz de te auxiliar. Aproveite nossa plataforma para conversar com profissionais e entender como você pode ganhar dinheiro com um dos segmentos que mais crescem no Brasil e no mundo. Para fazer seu registro como cliente e procurar pelas marcas de seu interesse, clique <a href="#signup">aqui</a>.</p>
