<% title "Espaço Cliente" %>

<% no_sidebar %>

<p>Caros Clientes,</p>
<p>Nós sabemos que seu tempo é valioso. Por isso, criamos um ambiente onde você encontra todas as marcas que não existem nas lojas, conversa com as consultoras e entende qual é o produto mais indicado para as suas necessidades. Sem esforço ou complicações. Esse é nosso jeito. </p>
<p>O Qualoo é dividido em 3 grandes ambientes:</p>
<p class="mag"><strong>Marcas:</strong> encontre as novidades das principais marcas</p>
<p class="mag"><strong>Chat:</strong> converse com os profissionais dessas marcas</p>
<p class="mag"><strong>Perfil:</strong> veja quem é esse profissional e como ele pode te ajudar</p>
<p>Estes três ambientes te ajudam a encontrar conteúdo, conectar com um profissional e criar um relacionamento com esta pessoa, a qual poderá sempre te ajudar. Simples assim.</p>
<p>Se você quer ir além e aprender mais sobre o Qualoo, veja também:</p>
<h3>Está em dúvida para comprar? </h3>
<p>Sempre que você se sentir indeciso ou inseguro nas suas compras na internet, sugiro que procure no Qualoo um profissional que trabalhe com o produto que você procura e pergunte diretamente para ele aquilo que te interessa. Assim, você ganha tempo e aumenta suas chances de fazer uma boa compra e conseguir aquilo que deseja. Afinal, são os detalhes fazem a diferença, certo?</p>
<h3>Quer adquirir um produto que só uma revendedora pode te oferecer?</h3>
<p>Muitos produtos só são encontrados com as revendedoras e consultoras. Por mais que agente procure nas lojas, não achamos aquele item que queremos. O Qualoo é a única plataforma que reúne TODAS as grandes marcas e suas representantes, assim você pode pesquisar aquilo que te interessa e pedir o produto que você tanto quer. As pessoas podem cadastrar livremente suas marcas, então você irá encontrar desde grandes empresas até pequenas boutiques com produtos únicos.</p>
<h3>Localize profissionais, marcas e produtos exclusivos perto de você.</h3>
<p>Encontre aqui estabelecimentos comerciais, como salões e clínicas de estética, que vendem os produtos exclusivos que você não encontra em lojas convencionais – e por que não procurar por descontos?! Para encontrar esses profissionais, clique em mapa, no ambiente do chat, e veja os estabelecimentos comerciais.</p>
<h3>Quer comprar sem sair de casa?</h3>
<p>Muitos representantes estão dispostos a entregar o produto para você. Compre com comodidade e negocie com o revendedor a entrega pra você.</p>
<h3>O que ganho fazendo um cadastro?</h3>
<p>O Qualoo é totalmente gratuito. O cadastro permite que você selecione seus profissionais favoritos, monte seu perfil receba promoções dos Profissionais. Aproveite descontos que você não encontra em qualquer lugar, e participe ainda de promoções do próprio site.</p>
<h3>De quem é a responsabilidade das negociações?</h3>
<p>O Qualoo é uma plataforma livre, e não participa nem se responsabiliza pelas negociações. Nossa dica é: sempre veja quantos clientes e parceiros o profissional tem em sua lista, sua classificação, além checar cuidadosamente os detalhes da sua compra. Para mais informações, leia os termos e condições do Qualoo <a href="#terms">aqui</a>.</p>