<% title "Espaço Profissional" %>

<% no_sidebar %>

<p>Caros Profissionais,</p>
<p>O Qualoo é uma ferramenta inovadora, capaz de auxiliar no seu dia-a-dia de trabalho. Para aproveitar o máximo do Qualoo e entender melhor o que temos para te oferecer, veja nosso passo a passo abaixo:</p>
<h3>Para quem foi feito?</h3>
<p>O Qualoo é um espaço gratuito criado para que todos os profissionais possam encontrar e fortalecer o relacionamento com seus clientes de maneira simples e rápida. Qualquer revendedora, consultora, distribuidor ou representante de uma marca pode fazer seu cadastrar no Qualoo. Não importa se sua marca ainda é pouco conhecida ou se é uma empresa já consolidadas como Natura, Avon, Jequiti, Herbalife. No Qualoo, todos encontram o ambiente ideal para aumentar suas vendas e fazer parte dessa grande comunidade virtual.</p>
<h3>Como o Qualoo pode me ajudar?</h3>
<p class="mag"><strong>Novos Clientes!</strong> O Qualoo permite que clientes te encontrem com base nas suas caraterísticas, seja ela o local onde você mora, suas habilidades ou seu perfil profissional. </p>
<p class="mag"><strong>Mais vendas!</strong> Administre os seus contatos em nossa plataforma e tenha sempre clientes a sua procura.</p>
<p class="mag"><strong>Mais tempo para você!</strong> Faça o atendimento online e evite horas perdidas no trânsito ou em reuniões improdutivas. Economize tempo para você e sua família!</p>
<p class="mag"><strong>Crie Parceiros comerciais que vendem com você!</strong> Adicione outros profissionais na sua lista de parcerias e faça boas alianças e bons negócios.</p>
<p class="mag"><strong>Maior profissionalismo!</strong> Conquiste seu espaço e sua independência financeira criando seu perfil no Qualoo, o qual será seu escritório de trabalho e seu cartão de visitas.</p>
<p>Pronto? Faça seu cadastro clicando <a href="#signup">aqui!</a></p>
<p>Para mais informações:</p>
<h3>Como consigo novos clientes?</h3>
<p>Você é especialista em maquiagem e perfumes? Sabe tudo sobre cremes e shampoo? Quer proporcionar aos outros uma vida mais saudável e vender muito mais produtos de nutrição? O Qualoo direciona automaticamente os clientes para você, sem que seja preciso bater de porta em porta. Ainda, você pode também ficar online no nosso chat e receber clientes a todo o momento, aumentando sua rede de contatos e, consequentemente, a sua renda. Além disso, você monta seu próprio perfil, compartilha comentários, cria redes de contatos e fica por dentro nas novidades. Se sua empresa ainda não está listada, você é livre para adicioná-la e colocá-la no mapa lado a lado com as maiores empresas do Brasil.</p>