<% title "Boas vindas" %>
<p>Caros <strong>amigos</strong>, <strong>profissionais</strong> e <strong>clientes</strong>,</p>
<p>Obrigado pelo apoio, elogios e críticas. Ao longo do último ano, demos o melhor de nós para criar uma plataforma que ajude clientes e profissionais a ganhar tempo, ter mais comodidade e conseguir aquilo que desejam.</p>
<p>Estamos trabalhando arduamente para entender e implementar alterações que tornem o <strong>Qualoo</strong> ainda melhor. Agradecemos as sugestões e também a o esforço de muitos em marcar sua presença em nossa plataforma. A todos, garanto: vamos fazer valer a pena!</p>
<p>Aguardem o lançamento oficial da plataforma!</p>
<p>Grande abraço,</p>
<p class="signature">Rodolfo Pinotti<br />
Bernardo Rufino<br />
Yuri Oliveira</p>
