<% title @tag.name %>
<p><%= icon "group_edit" %> <%= link_to "Gerenciar minha rede", manage_relationships_path %></p>
<%= render :partial => "salespeople/relationships", :locals => {relationships: @relationships, tags_manager: false, empty_message: "Tag vazia"} %>
