$text-color: #000000;
$light-color: #333333;
$shadow-color: #DDD;
$shadow-bg-color: #F3F3F3;
$bg-color: #FFF;
$deep-bg-color: #EEE;
$main-color: #D0232E;
$main-color: #D0232E;

$medium-center-min-width: 700px;
$large-center-min-width: 875px; 
$center-relative-width: 0.8;
$center-margin: percentage((1 - $center-relative-width) / 2); 
$font-size: 10pt;

html {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: $font-size;
	color: $text-color;
}
body, body.medium {
	min-width: round($medium-center-min-width / $center-relative-width);
	background-color: $deep-bg-color;
}
body.large {
	min-width: round($large-center-min-width / $center-relative-width);
}
#header {
	background-color: $bg-color;
	height: 80px;
	border: {
		bottom: 2px solid $shadow-color;
	}
	ul {
		display: block;
		float: right;
		margin: 34px 4px 0px 0px;
		li {
			cursor: default;
			display: inline;
			border-top: 4px solid $main-color;
			&:hover {
				border-color: $bg-color;
				background-color: $main-color;
				color: $bg-color;
				a {
					color: $bg-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
			a {
				padding: 2px;
				color: $light-color;
			}
		}
	}
	h1 a {
		margin: 8px 0px 0px 10px;
		display: block;
		width: 158px;
		height: 65px;
		text-indent: -99999px;
		background-image: image-url("logo.png");
		float: left;
	}
}

$main-spacing: 20px;
@mixin centralized {
	width: percentage($center-relative-width);
	margin: 0px $center-margin 0px $center-margin;
}
#nav {
	@include centralized;
	margin-top: -2px;
	background-color: $main-color;
	border-left: 1px solid $shadow-color;
	border-right: 1px solid $shadow-color;
	height: 30px;
	& > * {
		display: block;
		margin: 0 $main-spacing 0 $main-spacing;
	}
}

$sidebar-width: 200px;
// Borders overlap because of floating
$sidebar-content-divisory-border: 1px solid $shadow-color;
$sidebar-bg-color: $shadow-bg-color;

#main {
	@include centralized;
	background: {
		// Change this as soon as you can to use sth created by our server
		image: url("http://fakeimage.heroku.com/200x1.gif?color=!#{hexcode($sidebar-bg-color)}&textcolor=!#{hexcode($sidebar-bg-color)}");
		repeat: repeat-y;
		color: $bg-color;
	}
	border: 1px solid $shadow-color;
	border-top: none;
	&.with-sidebar {
		#content {
			border-left: $sidebar-content-divisory-border;
			margin-left: $sidebar-width;
		}
	}
}
#sidebar {
	background-color: $sidebar-bg-color;
	padding: ($main-spacing / 2);
	// When changing the above, CHANGE the below and h2.margin
	// width: $sidebar-width - padding-left - padding-right !
	width: $sidebar-width - $main-spacing;
	float: left;
	border-right: $sidebar-content-divisory-border;
	h2 {
		.icon {
			vertical-align: middle;
		}
		text-align: center;
		background-color: $shadow-color;
		padding: 5px 5px 6px 5px;
		margin: 5px (-($main-spacing / 2)) 5px (-($main-spacing / 2));
		font-size: 120%;
		&:first-child {
			margin-top: -($main-spacing / 2);
		}
	}
}
#content {
	padding: ($main-spacing / 2) $main-spacing ($main-spacing / 2) $main-spacing;
	background-color: $bg-color;
	h2 {
		color: lighten($light-color, 10%);
		margin: 5px (-$main-spacing) 5px (-$main-spacing);
		background-color: $shadow-bg-color;
		padding: 5px 5px 5px ($main-spacing - 10px);
		border-bottom: 1px solid $shadow-color;
		border-top: 1px solid $shadow-color;
		&:first-child {
			margin-top: -($main-spacing / 2);
			margin-bottom: ($main-spacing / 2);
			border-top: none;
		}
	}
	h3, h4, h5, h6 {
		margin-top: 5px;	
	}
	h3, h4 {
		color: lighten($light-color, 2%);
	}
	h5, h6 {
		color: lighten($light-color, 0%);
	}
}
.title-actions {
	margin-top: -($main-spacing + 15px);
	margin-bottom: 14px;
	position: relative;
	left: 10px;
	text-align: right;
}

.clear {
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
}

#footer {
	@include centralized;
	color: lighten($light-color, 30%);
	text-align: center;
	margin-top: 10px;
	padding-top: 84px;
	background: {
		image: image-url("logo-grey.png");
		repeat: no-repeat;
		position: center 8px;
	}
	a {
		color: lighten($light-color, 30%);
		&:hover {
			color: lighten($light-color, 10%);
			text-decoration: underline;
		}
	}
}
#nav ul {
	text-align: center;
	position: relative;
	top: 7px;
	color: darken($bg-color, 25%);
	a, a:hover, a:visited, a:active {
		color: $bg-color;
	}
}

$alert-color: #786207;
$error-color: #9F0B0F;

// FLASHED

.flash-notice, .flash-info, .flash-alert, .flash-error {
        font-weight: bold;
        margin: 15px 0px 14px 0px;
        padding: 6px 6px 6px 36px;
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-position: 5px 50%;
        border: 2px solid #FFFFFF;
        &:first-child {
        	margin-top: 15px - ($main-spacing / 2);
        }
}
.flash-notice {
        color: #1F781B;
        border-color: #1F781B;
        background-color: #C4F5BC;
        background-image: url(http://i85.photobucket.com/albums/k43/bermonruf/sites_images/notice1small.gif);
}
.flash-info {
        color: #173480;
        border-color: #173480;
        background-color: #B8D6FA;
        background-image: url(http://i85.photobucket.com/albums/k43/bermonruf/sites_images/info1small.gif);
}
.flash-alert {
        color: #786207;
        border-color: #786207;
        background-color: #F8EDA5;
        background-image: url(http://i85.photobucket.com/albums/k43/bermonruf/sites_images/warning1small.gif);
}
.flash-error {
        color: #9F0B0F;
        border-color: #9F0B0F;
        background-color: #F9B7B7;
        background-image: url(http://i85.photobucket.com/albums/k43/bermonruf/sites_images/error1small.gif);
}

// SAMPLE TAG AND USE

$label-width: 150px;
$tiny-form-width: 220px;
$tiny-label-width: 50px;
$small-form-width: 400px;
$medium-form-width: 500px;
$large-form-width: 600px;
$trailing-width: 15px;
$sized-inputs: "input[type=text], input[type=password], textarea, select";
$link-color: #0000EE;
$button: "button, input[type=submit], input[type=reset]";

.zero {
	margin: 0;
	padding: 0;
	width: auto;
}
.inline {
	display: inline;
	.icon {
		vertical-align: middle;
		position: relative;
		bottom: 1px;
	}
}
.centralized {
	text-align: center;
}

ul.inline {
	li {
		display: inline;
	}
}
img.icon {
	vertical-align: top;
}
img[src="#{image_path('icons/email.png')}"] {
	top: 4px;
}
.resource-list, #companies, .companies, #categories, #users {
	a {
		color: $text-color;
		&:hover {
			color: $link-color;
		}
	}
}
form, form.small {
	width: $small-form-width;
	margin: 0 auto 0 auto; 
	label {
		width: $label-width;
	}
	#{$sized-inputs} {
		width: $small-form-width - $label-width - $trailing-width;
	}
}
form.tiny{
	width: $tiny-form-width;
	label {
		width: $tiny-label-width;
	}
	#{$sized-inputs} {
		width: $tiny-form-width - $tiny-label-width - $trailing-width;
	}
}
form.medium {
	width: $medium-form-width;
	#{$sized-inputs} {
		width: $medium-form-width - $label-width - $trailing-width;
	}
}
form.large {
	width: $large-form-width;
	#{$sized-inputs} {
		width: $large-form-width - $label-width - $trailing-width;
	}
}

$form-detail-color: lighten($shadow-color, 10%);
$form-padding: 8px;
form {
	padding: 0 $form-padding $form-padding $form-padding;
	*[disabled] {
		cursor: default;
	}
	#{$sized-inputs} {
		font-size: $font-size;
	}
	&.embed {
		margin: 0;
		padding: 0;
		width: auto;
		.actions {
			margin: 0;
		}
		#{$sized-inputs} {
			width: auto;
		}
	}
	&.inline, &.answer {
		text-align: center;
		padding: 0;
		label {
			//margin-top: 4px;
			padding: 0 4px 0 4px 0;
			&.before {
				padding-left: 0;
			}
			&.after {
				padding-right: 0;
			}
		}
		&, * {
			width: auto;
			display: inline;
		}
		#{$sized-inputs} {
			width: 75px;
			text-align: left;
		}
		textarea {
			width: auto;
		}
		option {
			display: block;
		}
		#{$button} {
			padding-left: 1px;
			padding-right: 1px;
		}
	}
	&.asnwer p {
		padding: 0;
		margin: 0;
	}
	input[type=checkbox], input[type=radio] {
		margin-left: 0px;
		margin-right: 4px;
		position: relative;
		top: 2px;
	}
	fieldset > label, & > label {
		padding: 2px;
		text-align: right;
		display: block;
		float: left;
	}
	fieldset > label.error, & > label.error {
		font-weight: bold;
		color: lighten($error-color, 18%);
	}
	fieldset {
		padding: 2px;
	}
	.input-info {
		padding-left: 5px;
		label {
			padding: 2px;
		}
	}
	.info {
		color: lighten($alert-color, 18%);
		margin-left: $label-width + 6px;
		padding: 3px 0px 2px 0px;
	}
	$actions-bottom-border-thickness: 1px;
	.actions {
		border: 1px solid $shadow-color;
		border-bottom-width: $actions-bottom-border-thickness;
		padding: $form-padding;
		// 1px because of the border
		margin: -($form-padding + 1px);
		margin-top: $form-padding + 2px;
		text-align: right;
		background-color: $form-detail-color;
		.icon {
			vertical-align: middle;
		}
		input {
			width: auto;
		}
	}
	// last-child ass classes here as a hack for IE, see javascripts/application.js
	// Need separated rule because IE doest parse rules when there is one it doesnt support in the same line
	&.last-child .actions.last-child {
		margin-bottom: -(($main-spacing / 2) + $actions-bottom-border-thickness + $form-padding);
	}
	&:last-child .actions:last-child {
		margin-bottom: -(($main-spacing / 2) + $actions-bottom-border-thickness + $form-padding);
	}
}
#sidebar {
	form {
		padding: 2px 0 0 0;
		text-align: center;
		width: auto;
		* {
			display: inline;
			width: auto;
		}
		option {
			display: block;
		}
	}
	#{$sized-inputs} {
		width: 0.6 * $sidebar-width;
		&.large {
			width: 0.78 * $sidebar-width;
		}
	}
	.profile-picture {
		text-align: center;
	}
}

table {
	margin: 0 0 10px 0;
	border-collapse: collapse;
	&, td, th {
		border: 2px solid $bg-color;
	}
	td, th {
		padding: 3px 5px;
		background-color: $shadow-bg-color;
	}
	thead {
		cursor: default;
	}
	tbody tr:hover {
		td, th {
			&, a {
				color: $bg-color;
			}
			a:hover, a:active {
				color: $shadow-bg-color;
				
			}
			background-color: $main-color;
		}	
	}
	
}
#tags {
	margin-bottom: 8px;
}
#tags p {
	@extend .inline;
	@extend .zero;
}
.user-network {
	text-decoration: underline;
}
ul {
	margin-bottom: 10px;
}
#posts {
	border-bottom: 1px solid $shadow-color;
	margin: 5px 0px 10px 0px;
	.post {
		&:hover {
			background-color: $bg-color;
			border-left: 5px solid $main-color;
			margin-left: -4px;
			.body {
				background-color: lighten($shadow-bg-color, 2%);
			}
		} 
		background-color: lighten($shadow-bg-color, 2%);
		border: {
			top: 1px solid $shadow-color;
			left: 1px solid $shadow-color;
			right: 1px solid $shadow-color;
		} 
		padding-left: 5px;
		.body {
			.icon {
				margin-left: -21px;
			}
			margin-left: -5px;
			padding: 5px 5px 5px 26px;
			background-color: $bg-color;
		}
		.meta {
			font-size: 80%;
			color: lighten($text-color, 50%);
			padding: 3px 2px 2px 0px;
		}
	}
}
#new-post {
	$width: 300px;
	textarea, .actions {
		// textarea padding is 1px, under default.css.scss
		width: $width - 1px - 1px;
	}
	.actions {
		$new-post-actions-padding: 3px;
		padding: $new-post-actions-padding; 
		width: $width - (2 * $new-post-actions-padding);
		position: relative;
		bottom: 2px;
	}
}
.signature {
	text-align: right;
}
#ranking {
	display: inline-block;
	vertical-align: top;
	height: 16px;
	background: {
		image: image-url("icons/star.png");
		repeat: repeat-x;
	}
	@for $i from 1 through 5 {
		&.level#{$i} {
			width: 16px * $i;
		}
	}
	img {
		display: none;
	}
	&.not-ranked {
		background-image: image-url("icons/star_off.png");
		width: 16px * 5;
	}
	&.rankable:hover {
		background-image: image-url("icons/star.png");
		width: 16px * 5;
		a {
			// Let the 3 lines below here, otherwise Webkit breaks
			display: inline-block;
			height: 16px;
			width: 16px;
			img {
				display: inline;
			}
			&:hover {
				img {
					display: none;
				}
			}
		}
	}
}











